*{
    padding:1rem;
    background-color: rgb(0, 17, 48);
    text-align: center;
    align-content: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(215, 202, 202);
}
.box{
    height:25rem;
    border:2px dashed white;
    position: sticky;
}
.box img{
    height: 100px;
    width:150px;
    align-items: center;
    position: relative;
}
.buttons button{
    background-color: aliceblue;
    border-radius: 5px;
    border: 2 solid black;
    font-weight: bolder;
    margin:1rem;
}
button:hover{
    cursor: pointer;
}
